   <div class="col-md-6" style="width: 100%;">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-2">
        <div class="panel-heading">
            <div class="panel-heading-btn">
            </div>
            <h4 class="panel-title">Boarding Pass</h4>
        </div>
        <div class="panel-body">
        <!--     <h4 class="m-t-0">Boarding Pass</h4> -->


            <select class="form-control">
                <option>Airline</option>
            </select>
            <p></p>
            <select class="form-control">
                <option>Boarding Pass Type</option>
            </select>
            <p></p>

            <form class="form-inline" action="/" method="POST">
                <div class="form-group m-r-15">
                    <label>Source</label>
                    <input type="Source" class="form-control" id="exampleInputEmail2" placeholder="Source" />
                </div>
                <div class="form-group m-r-15">
                    <label>Destination</label>
                    <input type="Destination" class="form-control" id="exampleInputPassword2" placeholder="Destination" />
                </div>

            </form>
            <p></p>

            <input class="form-control" type="text" placeholder="Default input" />
            <p></p>

          <div class="form-group m-b-0">
        <label class="control-label col-sm-3"></label>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success width-xs">Genarate</button>
        </div>
    </div>
        </div>
    </div>
    <!-- end panel -->
</div>